body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFFF4;
}
.highliht{
    color: #76C27E;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5rem;
    color: #6455a5;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    color: #6455a5;
    margin-bottom: 40px;

}
.cart-btn {
    background-color: #2A1E59;
    height: 3rem;
    width: 10rem;
    color: white;   
    border-radius: 10px;
}

.cart-btn:hover {
    background-color: rgb(16, 196, 121);
    color: whitesmoke;
}

.card {
    border: 0;
    border-radius: 20px;
}

.card img {
    margin: 5%;
    background: #F1F1F1;
    border-radius: 20px;
    width: 90%;
}

.b-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 60px;
    color: #76C27E;
}

.policy img {
    width: 50%;
}

.cart img {
    width: 100%;
}

.row-border {
    border-radius: 20px;
}

.newsletter {
    padding: 80px 0;
    background-color: #FFFFF4;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* .newsletter .content h2 {
    margin-bottom: 40px;
} */
.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #6455a5;
}

/* .newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #6455a5;
    color: #fff;
    font-weight: 600;
} */
